<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header"><h4 class="title">Todo List</h4></div>
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                  <input type="text" class="form-control border-input" v-model="newTodo" placeholder="TODO入力欄" />
              </div>
            </div>
          </div>
          <div class="row places-buttons text-center">
            <button class="btn btn-info btn-fill btn-wd" v-on:click="addTodo">ADD</button>
          </div>
          <div class="row">
            <div class="header"><h4 class="title">Todo List</h4></div>
            <div class="content">
              <table class="table table-striped table-todo">
                <thead>
                  <th class="todo-header-input">Todo</th>
                  <th class="todo-header-action">Action</th>
                </thead>
                <tbody>
                  <tr v-for="item in elements" :key="item.todo">
                    <td>
                      <label class="list-item-label">
                        <input type="checkbox" class="list-item-checkbox" v-model="item.isChecked" />
                        <span v-text="item.todo" v-bind:class="{done: item.editing, comp: item.isChecked}">{{item.todo}}</span>
                        <input type="text" class="list-item-editor" v-model="item.todo" v-bind:class="{done: !item.editing}" >
                      </label>
                    <td>
                      <div v-show="!item.editing">
                        <button class="list-item-delete" v-on:click="editTodo(item)">Edit</button>
                        <button class="list-item-delete" v-on:click="deleteTodo(item)">Delete</button>
                      </div>
                      <div v-show="item.editing">
                        <button v-on:click="doneEdit(item)">Complete</button>
                        <button v-on:click="cansellEdit(item)">Cansell</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// data: function() {}
// data: () => {}
export default {
  name: 'TodoEntry',
  data () {
    return {
      todo: '',
      newTodo: '',
      elements: []
    }
  },
  methods: {
    saveTodo: function () {
      localStorage.setItem('elements', JSON.stringify(this.elements))
    },
    loadTodo: function () {
      this.elements = JSON.parse(localStorage.getItem('elements'))
      if (!this.elements) {
        this.elements = []
      }
    },
    addTodo: function () {
      let inputValue = this.newTodo
      // ''の場合は追加しない
      if (!inputValue) {
        return
      }
      this.elements.push({
        todo: inputValue,
        isChecked: false,
        editing: false
      })
      this.newTodo = '' // textboxの中を初期化
      this.saveTodo()
    },
    deleteTodo: function (target) {
      this.elements = this.elements.filter((item) => {
        return item.todo !== target.todo
      })
      this.saveTodo()
    },
    editTodo: function (target) {
      this.beforeCache = target.todo
      target.editing = true
    },
    doneEdit: function (target) {
      target.todo = target.todo.trim()
      // 修正後''の場合は削除
      if (target.todo === '') {
       this.deleteTodo(target)
     　}
      target.editing = false
      this.saveTodo()
    },
    cansellEdit: function (target) {
      target.todo = this.beforeCache
      target.editing = false
    }
  },
  created: function () {
    this.loadTodo()
  }
}
</script>

<style scoped>
  .table-todo {
    table-layout: fixed;
    word-wrap: break-word;
  }
  .list-item-label {
    display: block;
    padding-left: 30px;
    position: relative;
  }
  .list-item-checkbox {
    left: 0;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }
  .list-item-editor {
    width: 100%;
  }
  .todo-header-input,
  .todo-header-action {
    padding-left: 8px;
  }
  .todo-header-checkbox {
    width: 4%;
  }
  .todo-header-action {
    width: 15%;
  }
  .done {
    display: none;
  }
  .comp {
    text-decoration: line-through;
  }
</style>
