<template>
  <header>
<!--     <div><router-link to="/" class="navbar-brand">Vue + Vuex</router-link></div> -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <div class="navbar-left"><router-link to="/" class="navbar-brand">Todo Input Form</router-link></div>
        </div>
      </div>
    </nav>
  </header>
</template>
